packer_compiled.vim
vim/view/*
yarn-error.log
config/wireshark
config/exercism
config/hub
config/nvim/plugged/*
config/htop/*
config/yarn/*
config/oni/*
config/gtk-2.0/*
node_modules
package-lock.json
.DS_Store
*.swp
quando_o_build_ta_shavur
trash/
*.xmark.*.html
config/configstore
atom.symlink/.apm
atom.symlink/packages
atom.symlink/blob-store
atom.symlink/.gitignore
bkup
bin/outdated
bin/versiondiff
bin/consul-template
config/karabiner/assets/
config/karabiner/automatic_backups/
config/coc/
